/** Insert your code here **/
ul li {
	color: red !important;
}
ol li:first-of-type + li {
	background-color: green !important;
}
tr:nth-child(odd) {
	background-color: yellow;
}
/********** READ-ONLY BLOCK ******
You CANNOT UPDATE anything from here on,
only add lines of code on top of these lines
**/

body {
	color: blue;
}

ul li,
ol li {
	color: green;
}
